@media (max-width: 768px){
    .modal-image{
        margin-top: 160px;
    }
    .nav-item{
        padding: 10px;
    }
    #btn-top{
        padding: 10px;
        margin-left: 10px;
    }
    #wave{
        display: none;
    }
    #teste3{
        background-color: #0695F5;
        margin-left: auto;
    }

     

}
