@media (max-width: 768px){
    .imagem{
        margin-left: 8px;
    }
    .modal-image{
        margin-top: 160px;
    }
    .nav-item{
        padding: 10px;
    }
    #btn-top{
        padding: 10px;
        margin-left: 10px;
    }
}
