@media (max-width: 768px){
    .modal-image{
        margin-top: 160px;
    }
    .nav-item{
        padding: 10px;
    }
    #btn-top{
        padding: 10px;
        margin-left: 10px;
    }
    #wave{
        display: none;
    }
    #wave-content{
        background-color: #0695F5;
        width: 100%;
        overflow: hidden;
    }
    #imagem-sobre{
        background-size: 100%;
    }
    #quem-somos{
        margin-top: 250px;
    }

}


@media (max-width: 1280px){
    #wave{
        display: none;
    }
    #wave-content{
        background-color: #0695F5;
        width: 100%;
        margin-top: 5rem;
        overflow: hidden;
    }
}
