@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


$laranja1: #FFB300;
$laranja2: #E6BE5D;
$laranja3: linear-gradient(to bottom, $laranja1, $laranja2);
$preto: black;
$azul1: #0695F5;
$azul2: rgba(44,168,237,0.38);
$azul3:rgba(73,176,230,0);
$azul4: linear-gradient(to bottom,$azul1,$azul2,$azul3);
$preto: #1A1A1A;

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: $azul1;
}
.navbar-brand{
    color:white;

}
.navbar-brand:hover{
    color:whitesmoke;
}
#btn-top{
    background-color: $laranja1;
    border: none;
    font-weight: 300;
}
header .nav-item a{
    color: $preto;
    text-decoration: none;
    font-weight: 300;
}
header .nav-item a::after{
    content: "";
    display: block;
	width: 0px;
	height: 2px;
	background: $laranja1;
	transition: width .3s;
}
header .nav-item a:hover::after{
	width: 100%;
	transition: width .3s;
}
.titulos{
    background: $azul4;
    height: 100vh;
    width: 100%;
}
#titulo{
    font-size: 80px;
    margin-top: 170px;
    color: $laranja1;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.16);
    letter-spacing: 6px;
}
#sub{
    font-size: 37px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.16);
}
#btn-titulo{
    background: $laranja3;
    color: white;
    width: 230px; 
    position: absolute;
    margin-top: 120px;
    border: none;
}

//SERVIÇOS


.titulos-section{
    color:$laranja1;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.16);
    font-size: 50px;
    letter-spacing: 3px;
}

.hr{
    width: 175px;
    height: 3px;
    background-color: $azul1;
    border: none;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.imagens{
    width: 65px;
    height: 65px;
}
.imagens:hover{
    animation: bbb 1s ease;
}

@keyframes bbb {
    0%{
        transform: scale(1.1);
    }50%{
        transform: scale(1.2);
    }
}
.conteudo-servicos{
    margin-top: 80px;
}
.titulo-servicos{
    font-weight: 700;
}
.texto{
    font-size: 15px;
}

//PORTIFÓLIO

#portfolio{
    margin-top: 120px;
    background-color: $preto;
    padding: 80px;
    width: 100%;
    height: 100vh;
}
.imagem{
    width: 250px;
    height: 200px;
   
}
.imagem1{
    padding-left: 100px;
}




//SOBRE NÓS

.margem-sobre{
    margin-top:60px;
}
.foto1{
    width: 500px;
    height: 300px;
    background-color: $preto;
}
.texto-sobre{
    font-size: 15px;
}
.titulo-sobre{
    font-weight: 700;
    font-size: 20px;
}

//FOOTER
.botao-footer{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 20px 50px 0px 0px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
  }
.botao-footer i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  .botao-footer:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .botao-footer::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .botao-footer:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }

.footer{
    background-color: $azul1;
}
.margem-footer{
    margin-top: 110px;
}
#setupjr{
    color: $laranja1;
}
.texto-footer{
    font-size: 80%;
}